#Objects required to make a valid query
analytics_server <- "db67.pmtpa.wmnet"
analytics_database <- "enwiki"
analytics_user <- "CheeseIsAKindOfMeat"
analytics_pass <- "ATastyYellowBeef"

#Libraries
library(ggplot2)
library(RMySQL)
library(plyr)
library(reshape2)
library(gridExtra)

#My personal Library of Doom (tm) - https://github.com/Ironholds/trickstr
library(trickstr)

#Options
options(scipen=500) #Screw with scientific notation
options(stringsAsFactors = FALSE) #Stop automatically factorising

#Create output folders, if they don't already exist.
dir.create(file.path(getwd(), "Data"), showWarnings = FALSE)
dir.create(file.path(getwd(), "Graphs"), showWarnings = FALSE)

#List of regular expressions. Format is "name","expression"
regex.ls <- list(
  c("spam","(spam|advertis(ement|ing)|promot(e|ion))"),
  c("disruption","(arb(itration|com)|defam(ing|ation|atory)|repeated(ly)? (remov(al|ing)|inappropriate|soapbox(ing)?|addition|adding|(re|re-)?creat(ing|ion(s)?)|unsourced)|vandal(ism)?|disrupti(ve|on|ng)|troll|ignoring (image|warnings)|attack|bad faith|harr?ass?(ment)?|abus(e|ive)|vau(block)?|suppress|stalk|phish(ing)?|(death|legal) threat|bad image uploads|biographies of living|hoax|rac(ist|ial)|copy(right|vio)|threatban|nonsense|(in|un)?civil(ity)?|(edit|wheel|move|revert)( |-)war(ring)?|tendentious|schoolblock|rever(ts|t rule|sion)|\\drr|deliberately triggering|outing|anonblock|battle(field|ground)?|topic ban|(?-i)(NPA|POINT|BLP|3R|VAND|LEGAL|HOUND|STICK|POV|CSD|NPOV)(?i)|blank(ing)?|editing restriction(s)?|canvass(ing)?|offensive|(creating )?inappropriate( article| page)?)"),
  c("sockpuppet","((?-i)LTA(?i)|sock|eva(de|sion|ding)|JarlaxleArtemis|grawp|term abuse|multiple accounts|checkuser|MascotGuy|Jessica Liao|Grundle2600|Swale|sleeper|willy|puppet|\\{\\{WoW\\}\\}|reincarnat(i)?on|ararat|CU block|banned)"),
  c("username","(username|uw-(uhblock|softestblock)|(softer|cause|u)block|impost(or|er)|too similar|similar to existing user or recent meme|\\{\\{unb|contact an administrator for verification|impersonat(or|ion|ing))"),
  c("proxy","(torblock|blocked proxy|webhostblock|\\{\\{tor)"))

#Start and end dates - used in deciding the boundaries of any query to the MySQL dbs, and graphing boundaries
sql_start.str <- "200601"
sql_end.str <- "201311"

#Substring those for yearly graphing boundaries
sql_year_start.str <- substring(sql_start.str,1,4)
sql_year_end.str <- substring(sql_end.str,1,4)